<div id="tableauViz">
    <div class="button-container">
        <button (click)="exportPDF()">Exportar para PDF</button>
        <button (click)="exportImage()">Exportar para Imagem</button>
        <button (click)="exportCrossTab()">Exportar para CSV</button>
        <button (click)="exportPowerPoint()">Exportar para PowerPoint</button>
        <button (click)="exportToExcel()">Exportar para Excel</button>
        <button (click)="exportBruteData()">Exportar Dados</button>
    </div>
</div>                                  